# Environnement Python
venv/
__pycache__/
*.pyc

# Dataset (trop volumineux pour GitHub, sera sur Google Drive)
datasets-cutisia/

# Modèles entraînés
*.h5
*.tflite

# OS
.DS_Store
Thumbs.db
# Fichiers générés Flutter (garder le code source)
cutisia/build/
cutisia/.dart_tool/
cutisia/.flutter-plugins
cutisia/.flutter-plugins-dependencies
cutisia/android/.gradle/
cutisia/android/local.properties
cutisia/android/key.properties
cutisia/ios/Pods/
cutisia/.idea/
